# Normaliza los finales de linea en todo el repositorio
* text=auto eol=lf

# Estos archivos deben tener finales de linea Unix
*.sh text eol=lf
*.bash text eol=lf
Dockerfile text eol=lf
*.yml text eol=lf
*.yaml text eol=lf

# Archivos binarios
*.png binary
*.jpg binary
*.pdf binary
*.drawio binary